<!DOCTYPE html>
<html>
<head>
    <title>admin panel</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/cart.css') }}">
    <script src="{{ url_for('static', filename='js/admin.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
<div class="top-panel">
    <nav class="nav-bar">
        <ul class="nav-ul">
            <li class="nav-li">
                <a class="nav-a" href="{{url_for('categories')}}">Категории</a>
            </li>
            <li class="nav-li">
                <a class="nav-a" href="{{url_for('products')}}">Товары</a>
            </li>
            <li class="nav-li-active">
                <a class="nav-a" href="{{url_for('orders')}}">Заказы</a>
            </li>
            <li class="nav-li">
                <a class="nav-a" href="{{url_for('users')}}">Пользователи</a>
            </li>
            <li class="nav-li">
                <a class="nav-a" href="{{url_for('add_items')}}">Добавление новых данных</a>
            </li>
        </ul>
    </nav>
</div>

<main>
    <h2>Заказы</h2>
    <input type="text" id="orderSearchInput"
           placeholder="Поиск по заказам"
           onkeyup="searchTable('orderTable', 'orderSearchInput')">
    <table id="orderTable">
        <thead>
        <tr>
            <th>Order ID</th>
            <th>Сумма заказа</th>
            <th>Адрес доставки</th>
            <th>Дата доставки</th>
            <th>Дата создания заказа</th>
            <th>Статус</th>
<!--            <th>Управление</th>-->
        </tr>
        </thead>
        {% for order in orders %}
        <form method="post" onblur="submitForm({{order.order_id}})" id="order_{{order.order_id}}">
            <tr>
                <td>
                    <a href="{{url_for('order', order_id=order.order_id)}}">
                        <input class="id_column" type="text" id="Id" name="id"
                           value="{{order.order_id}}" style="width: 40px" readonly>
                    </a>
                </td>
                <td>
                    <input type="text" id="sum_{{order.order_id}}" name="orderSum" value="{{order.sum}}"
                           readonly style="width: fit-content;">
                </td>
                <td>
                    <input type="text" id="{{order.address}}" name="orderAddress" value="{{order.address}}"
                           required readonly>
                </td>
                <td>
                    <input type="date" id="order_datetime" name="orderDatetime"
                           value="{{order.datetime}}" required readonly>
                </td>
                <td>
                    <input type="date" id="order_creation_datetime" name="orderCreationDatetime"
                           value="{{order.creation_time}}" required readonly>
                </td>
                <td>
                    <input type="text" id="orderStatus" name="orderStatus" value="{{order.status_name}}"
                           required readonly>
                </td>
<!--                <td>-->
<!--                    <input type="submit" value="Подтвердить">-->
<!--                    <input type="button" value="Удалить" onclick="remove_item('order', {{order.order_id}})">-->
<!--                </td>-->
            </tr>
        </form>

        {% endfor %}
    </table>
</main>
</body>
<footer style="min-height: 200px;">

</footer>
</html>