<!DOCTYPE html>
<html>
<head>
    <title>admin panel</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/cart.css') }}">
    <script src="{{ url_for('static', filename='js/admin.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
<div class="top-panel">
    <nav class="nav-bar">
        <ul class="nav-ul">
            <li class="nav-li">
                <a class="nav-a" href="{{url_for('categories')}}">Категории</a>
            </li>
            <li class="nav-li-active">
                <a class="nav-a" href="{{url_for('products')}}">Товары</a>
            </li>
            <li class="nav-li">
                <a class="nav-a" href="{{url_for('orders')}}">Заказы</a>
            </li>
            <li class="nav-li">
                <a class="nav-a" href="{{url_for('users')}}">Пользователи</a>
            </li>
            <li class="nav-li">
                <a class="nav-a" href="{{url_for('add_items')}}">Добавление новых данных</a>
            </li>
        </ul>
    </nav>
</div>

<main>
    <div class="top">
        <h2>Курс Доллара</h2>
        <p>{{dollar.price}} ₽</p>
    </div>
    <hr>
    <h2>Товары</h2>
    <input type="text" id="productSearchInput"
           placeholder="Поиск по товарам"
           onkeyup="searchTable('productTable', 'productSearchInput')">
    <table id="productTable">
        <thead>
        <tr>
            <th>ID</th>
            <th>Брэнд</th>
            <th>Название</th>
            <th>Описание</th>
            <th>Закупочная цена</th>
            <th>Продажная цена</th>
            <th>В долларах?</th>
            <th>Остаток</th>
            <th>Родительская категория</th>
            <th>Изображение</th>
            <th>Путь к новому изображению</th>
            <th>Подтверждение изменения</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
        <form id="{{product.id}}" method="post">
            <tr>
                <td>
                    <input class="id_column" type="text" name="pr_id" id="pr_id" value="{{product.id}}" readonly
                           style="width: 30px;">
                </td>
                <td>
                    <input type="text" name="pr_brand" id="pr_brand" value="{{product.brand}}">
                </td>
                <td>
                    <input class="name_column" type="text" name="pr_name" id="pr_name" value="{{product.name}}">
                </td>
                <td>
                    <input type="text" name="pr_description" id="pr_description" value="{{product.description}}">
                </td>
                <td>
                    <input type="number" min="1" name="pr_by_price" id="pr_by_price" value="{{product.by_price}}">
                </td>
                <td>
                    <input type="number" name="pr_price" id="pr_price" value="{{product.price}}">
                </td>
                <td>
                    <select id="pr_price_dependency" name="pr_price_dependency">
                        {% if product.price_dependency == 1 %}
                        <option selected="selected" value="1">Да</option>
                        <option value="0">Нет</option>
                        {% else %}
                        <option value="1">Да</option>
                        <option selected="selected" value="0">Нет</option>
                        {% endif %}
                    </select>
                </td>
                <td>
                    <input type="number" min="0" name="pr_amount" id="pr_amount" value="{{product.amount}}">
                </td>
                <td>
                    <select id="categoryParentNameChoose" name="categoryParentName">
                        <option selected="selected" value="{{product.category_id}}">{{categories[product.category_id - 1].parent_id}} | {{categories[product.category_id - 1].name}}</option>
                        {% for category in categories %}
                        {% if category.parent_id %}
                        <option value="{{category.id}}">{{category.parent_id}} | {{category.name}}</option>
                        {% else %}
                        <option value="{{category.id}}">{{category.name}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </td>
                <td>
                    {% if product.image_path == '' %}
                    <span class="material-icons">qr_code_2</span>
                    {% else %}
                    <img class="product_image" src="{{product.image_path}}" alt="{{product.name}}"
                         style="width: 50px; height: 50px;">
                    {% endif %}
                </td>
                <td>
                <div class="category_image">
                    <input class="input-fields" type="text" id="new-ct_productImagePath" name="categoryImagePath"
                    placeholder="Ссылка на изображение" value="{{product.image_path}}">
                </div>
                </td>
                <td>
                    <input type="submit" value="submit">
                    <input type="button" value="delete" onclick="remove_item('products', {{product.id}})">
                </td>
            </tr>
        </form>
        {% endfor %}
        </tbody>
    </table>
    <hr>
</main>
</body>
<footer style="min-height: 200px;">

</footer>
</html>