.search-block {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: row;
}

.search-container {
    width: 100%;
}

table {
    padding: 20px;
}
th {
    text-align: center;
}
td {
    padding: 10px;
    margin: 10px;
}
td.image-block-mini {
    width: 10%;
}
td.product-name-cell {
    width: 50%;
}
td.product-name-cell p {
    font-style: italic;
    font-size: 12px;
}
td.product-name-cell a {
    font-size: 18px;
}
td.product-price-cell {
    text-align: center;
}
td.product-buttons-cell {
    text-align: center;
}
td.product-amount-cell {
    text-align: center;
}
td.product-sum-cell p {
    text-align: center;
}

.card-items {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #f4f4f4;
    border-right: 1px solid #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 3px 10px 2px rgb(229 229 229);
}

#card {
    width: 95%;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.card-items .image-block-mini {
    width: 10%;
    margin: 10px;
    padding: 10px;
}

.card-items .product-info-mini {
    border-right: 1px dotted black;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    align-items: flex-start;
    width: 60%;
}

.card-items .product-info-mini .product-description {
    font-style: oblique;
    font-size: 12px;
}

.card-items .product-info-mini .product-name a {
    text-decoration: None;
}

.card-items .product-info-mini .product-name {
    text-decoration: None;
    font-style: normal;
    font-size: 16px;
    font-weight: bold;
}

.card-items .product-price-block {
    width: 30%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
}

.product-price-block div {
    width: fit-content;
}

.card-items .product-price-block p {
    margin: 10px;
    padding: 10px;
    font-style: normal;
    text-wrap: nowrap;
}

.card-items .product-price-block p.product-price-value {
    text-wrap: nowrap;
}

.card-items img {
    width: 100px;
    height: 100px;
}

.cart-total {
    width: 80%;
    display: flex;
    border-top: 1px solid #f4f4f4;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

/* CSS button add */
input[type='button'].add-to-card, input[type='submit'].submit-input-confirm {
    appearance: none;
    backface-visibility: hidden;
    background-color: #27ae60;
    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Inter, -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 1.5;
    outline: none;
    overflow: hidden;
    padding: 13px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
}

input[type='button'].add-to-card:hover, input[type='submit'].submit-input-confirm:hover {
    background-color: #21eeaf2e;
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
}

input[type='button'].add-to-card:active, input[type='submit'].submit-input-confirm:active {
    transform: translateY(2px);
    transition-duration: .35s;
}

input[type='button'].add-to-card:hover, input[type='submit'].submit-input-confirm:hover {
    box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}

/* CSS button remove */
input[type='button'].remove-from-card-button {
    appearance: none;
    backface-visibility: hidden;
    background-color: #b13434;
    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 1.5;
    outline: none;
    overflow: hidden;
    padding: 13px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
}

input[type='button'].remove-from-card-button:hover {
    background-color: #b13434;
    opacity: 1;
    transform: translateY(0);
    transition: .35s all ease-in-out;
}

input[type='button'].remove-from-card-button:active {
    transform: translateY(2px);
    transition-duration: .35s;
    transition: .35s all ease-in-out;
}

input[type='button'].remove-from-card-button:hover {
    background-color: #b13434;
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
}

/* стили формы подтверждения заказа */
div.confirm-order {
    padding: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    /*border-left: 1px solid #f4f4f4;*/
    /*border-right: 1px solid #f4f4f4;*/
    border-radius: 10px;
    /*box-shadow: 0 3px 10px 2px rgb(229 229 229);*/
}

.input-fields {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.input-fields div {
    margin: 10px;
    width: 250px;
}
.input-fields div input {
    margin-left: 5px;
    margin-right: 5px;
}
.input-fields div input[type='date'] {
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
}

.input-fields div input:hover {
    border-radius: 10px;
    box-shadow: 0 3px 10px 2px rgb(229 229 229 / 0.2);
    transition: all .15s ease-in-out;
}

form.submit-form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #f4f4f4;
    border-right: 1px solid #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 3px 10px 2px rgb(229 229 229);
    padding: 15px;
    width: 80%
}

form.submit-form .phone, .full_name, .order_place, .order_date, .order_sum {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

form.submit-form .phone p, .full_name p, .order_place p, .order_date p, .order_sum p {
    margin-right: 15px;
    display: flex;
}

div.submit {
    margin-top: 10px;
}

div.order_sum input {
    text-align: center;
    border: 0;
}


.input-fields input {
    -webkit-appearance: none;
    text-align: center;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 0;
    height: 48px;
    font-size: 16px;
    font-weight: 500;
    background: none;
    border-bottom: 1px solid #545454;
    border-radius: 1px;
    color: #223254;
    transition: all 0.15s ease;
}

.input-fields input:focus {
    outline: none;
}

.input-fields input:active {
    outline: none;

}

.input-fields input:focus + .border path {
    stroke: #07f;
}

.input-fields input:valid + .border path {
    animation: elasticInput 0.8s ease forwards;
}

.input-fields input:valid + .border + .check {
    transform: translate(0, 0) scale(1);
}

::placeholder {
    color: #9098a9;
    text-align: center;
}

@-moz-keyframes elasticInput {
    33% {
        d: path("M0,12 L226,12 C220,12 220.666667,12 228,12 C239,12 245,1 253,1 C261,1 268,12 278,12 C284.666667,12 285.333333,12 280,12");
    }
    66% {
        d: path("M0,12 L226,12 C220,12 220.666667,12 228,12 C239,12 245,17 253,17 C261,17 268,12 278,12 C284.666667,12 285.333333,12 280,12");
    }
}

@-webkit-keyframes elasticInput {
    33% {
        d: path("M0,12 L226,12 C220,12 220.666667,12 228,12 C239,12 245,1 253,1 C261,1 268,12 278,12 C284.666667,12 285.333333,12 280,12");
    }
    66% {
        d: path("M0,12 L226,12 C220,12 220.666667,12 228,12 C239,12 245,17 253,17 C261,17 268,12 278,12 C284.666667,12 285.333333,12 280,12");
    }
}

@-o-keyframes elasticInput {
    33% {
        d: path("M0,12 L226,12 C220,12 220.666667,12 228,12 C239,12 245,1 253,1 C261,1 268,12 278,12 C284.666667,12 285.333333,12 280,12");
    }
    66% {
        d: path("M0,12 L226,12 C220,12 220.666667,12 228,12 C239,12 245,17 253,17 C261,17 268,12 278,12 C284.666667,12 285.333333,12 280,12");
    }
}

@keyframes elasticInput {
    33% {
        d: path("M0,12 L226,12 C220,12 220.666667,12 228,12 C239,12 245,1 253,1 C261,1 268,12 278,12 C284.666667,12 285.333333,12 280,12");
    }
    66% {
        d: path("M0,12 L226,12 C220,12 220.666667,12 228,12 C239,12 245,17 253,17 C261,17 268,12 278,12 C284.666667,12 285.333333,12 280,12");
    }
}

a.product-name:hover {
    font-size: 16px;
}