<!DOCTYPE html>
<html>
<head>
    <title>admin panel</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/cart.css') }}">
    <script src="{{ url_for('static', filename='js/admin.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
<div class="top-panel">
    <nav class="nav-bar">
        <ul class="nav-ul">
            <li class="nav-li">
                <a class="nav-a" href="{{url_for('categories')}}">Категории</a>
            </li>
            <li class="nav-li">
                <a class="nav-a" href="{{url_for('products')}}">Товары</a>
            </li>
            <li class="nav-li">
                <a class="nav-a" href="{{url_for('orders')}}">Заказы</a>
            </li>
            <li class="nav-li">
                <a class="nav-a" href="{{url_for('users')}}">Пользователи</a>
            </li>
            <li class="nav-li-active">
                <a class="nav-a" href="{{url_for('add_items')}}">Добавление новых данных</a>
            </li>
        </ul>
    </nav>
</div>


<main>
    <div class="top">
        <h2>Курс Доллара</h2>
        <p>{{dollar.price}} ₽</p>
    </div>
    <div class="content">
        <div class="left">
            <h2>Добавление товара</h2>
            <form method="post" class="addProduct">
                <div class="product_name">
                    <p>Название товара:</p>
                    <input class="input-text" type="text" id="new-pr-productName" name="productName" required>
                </div>
                <div class="product_category">
                    <p>Категория:</p>
                    <select class="input-text" id="new-pr-productCategory" name="productCategory">
                        {% for category in categories %}
                        <option value="{{category.id}}">{{category.name}}</option>
                        {%endfor%}
                    </select>
                </div>

                <div class="product_brand">
                    <p>Брэнд:</p>
                    <input class="input-fields" type="text" id="new-pr-productBrand" name="productBrand" required>
                </div>
                <div class="product_description">
                    <p>Описание:</p>
                    <input class="input-fields" type="text" id="new-pr-productDescription" name="productDescription"
                           required>
                </div>
                <div class="product_by_price">
                    <p>Закупочная цена:</p>
                    <input class="input-fields" type="text" id="new-pr-productByPrice" name="productByPrice" required>
                </div>
                <div class="product_dollar">
                    <p>Цена в долларах?:</p>
                    <input class="input-fields" type="checkbox" id="new-pr-productDollar" name="productDollar">
                </div>
                <div class="product_amount">
                    <p>Остаток:</p>
                    <input class="input-fields" type="text" id="new-pr-productAmount" name="productAmount" required>
                </div>
                <div class="product_image">
                    <p>Путь к изображению:</p>
                    <input class="input-fields" type="text" id="new-pr-productImagePath" name="productImagePath"
                    placeholder="Ссылка на изображение">
                </div>
                <button type="submit" onclick="admin_alert('Новая товар добавлен')">Добавить товар</button>
            </form>
        </div>
        <div class="right">
            <h2>Добавление категории</h2>
            <form method="post" class="addCategory">

                <div class="category_name">
                    <p>Название категории:</p>
                    <input type="text" id="new-ct-categoryName" name="categoryName" required>
                </div>
                <div class="product_category">
                    <p>ID родительской категории:</p>
                    <select id="new-ct-categoryParentNameChoise" name="categoryParentId">
                        <option value="Null">Родительская категория</option>
                        {% for category in categories %}
                        {% if category.parent_id %}
                        <option value="{{category.id}}"> > {{category.parent_id}} > {{category.name}}</option>
                        {% else %}
                        <option value="{{category.id}}">{{category.name}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="category_image">
                    <p>Путь к изображению:</p>
                    <input class="input-fields" type="text" id="new-ct-productImagePath" name="categoryImagePath"
                    placeholder="Ссылка на изображение">
                </div>
                <button type="submit" onclick="admin_alert('Новая категория добавлена')">Добавить категорию</button>
            </form>
        </div>

    </div>
</main>
</body>
<footer style="min-height: 200px;">

</footer>
</html>