<!DOCTYPE html>
<html>
<head>
    <title>admin panel</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/cart.css') }}">
    <script src="{{ url_for('static', filename='js/admin.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
<div class="top-panel">
    <nav class="nav-bar">
        <ul class="nav-ul">
            <li class="nav-li-active">
                <a class="nav-a" href="{{url_for('categories')}}">Категории</a>
            </li>
            <li class="nav-li">
                <a class="nav-a" href="{{url_for('products')}}">Товары</a>
            </li>
            <li class="nav-li">
                <a class="nav-a" href="{{url_for('orders')}}">Заказы</a>
            </li>
            <li class="nav-li">
                <a class="nav-a" href="{{url_for('users')}}">Пользователи</a>
            </li>
            <li class="nav-li">
                <a class="nav-a" href="{{url_for('add_items')}}">Добавление новых данных</a>
            </li>
        </ul>
    </nav>
</div>

<main>
    <h1>Админка</h1>
    <h2>Категории</h2>
    <input type="text" id="categorySearchInput" placeholder="Поиск по категориям"
           onkeyup="searchTable('categoryTable', 'categorySearchInput')">
    <table id="categoryTable">
        <thead>
        <tr>
            <th>ID</th>
            <th>Родительский ID</th>
            <th>Название</th>
            <th>Изображение</th>
            <th>Путь к новому изображению</th>
            <th>Подтверждение изменения</th>
        </tr>
        </thead>
        <tbody>
        {% for category in categories %}
        <form method="post">
            <tr>
                <td class="tr-id">
                    <input class="id_column" type="text" name="ct_id" id="ct_id" value="{{ category.id }}"
                           style="width: 30px;" readonly>
                </td>
                <td>
                    <input type="text" name="ct_parent_id" id="ct_parent_id" value="{{ category.parent_id }}"
                           style="width: 90px;" readonly>
                </td>
                <td>
                    <input class="name_column" type="text" name="ct_name" id="ct_name" value="{{category.name}}">
                </td>
                <td>
                    {% if category.image_path == '' %}
                    <span class="material-icons">list</span>
                    {% else %}
                    <img class="category-image" src="{{category.image_path}}" alt="{{category.name}}"
                         style="width: 50px; height: 50px;">
                    {% endif %}
                </td>
                <td>
                <div class="category_image">
                    <input class="input-fields" type="text" id="new-ct_productImagePath" name="categoryImagePath"
                    placeholder="Ссылка на изображение" value="{{category.image_path}}">
                </div>
                </td>
                <td>
                    <input type="submit" value="submit">
                    <input type="button" value="delete" onclick="remove_item('categories', {{category.id}})">
                </td>
            </tr>
        </form>
        {% endfor %}
        </tbody>
    </table>
    <hr>

</main>
</body>
<footer style="min-height: 200px;">

</footer>
</html>