<!DOCTYPE html>
<html>
<head>
    <title>Страница не готова</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/product.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/search.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
<div class="top-panel">
    <nav class="nav-bar">
        <ul class="nav-ul">
            <li class="nav-li">
                <a class="nav-a" href="{{url_for('categories')}}">Категории</a>
            </li>
            <li class="nav-li">
                <a class="nav-a" href="{{url_for('products')}}">Товары</a>
            </li>
            <li class="nav-li">
                <a class="nav-a" href="{{url_for('orders')}}">Заказы</a>
            </li>
            <li class="nav-li">
                <a class="nav-a" href="{{url_for('users')}}">Пользователи</a>
            </li>
            <li class="nav-li">
                <a class="nav-a" href="{{url_for('add_items')}}">Добавление новых данных</a>
            </li>
        </ul>
    </nav>
</div>


<main>
    <h1>Страница не готова</h1>
    <p>К сожалению Вы зашли на страницу, которая еще не готова.</p>
    <p>Просим вернуться на Страница категорий</p>
    <p><span class="highlight">Спасибо :)</span>.</p>
    <a class="highlight" href="{{url_for('categories')}}">Страница категорий</a>
</main>

<footer>
    <div class="footer" style="height: 200px;"></div>
</footer>
</body>
</html>