<!DOCTYPE html>
<html>
<head>
    <title>admin panel</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/admin.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin_order_detailed.css') }}">
</head>
<body>
<div class="top-panel">
    <nav class="nav-bar">
        <ul class="nav-ul">
            <li class="nav-li">
                <a class="nav-a" href="{{url_for('categories')}}">Категории</a>
            </li>
            <li class="nav-li">
                <a class="nav-a" href="{{url_for('products')}}">Товары</a>
            </li>
            <li class="nav-li">
                <a class="nav-a" href="{{url_for('orders')}}">Заказы</a>
            </li>
            <li class="nav-li">
                <a class="nav-a" href="{{url_for('users')}}">Пользователи</a>
            </li>
            <li class="nav-li">
                <a class="nav-a" href="{{url_for('add_items')}}">Добавление новых данных</a>
            </li>
        </ul>
    </nav>
</div>

<main>
    <form method="post">
        <div class="content">
            <div class="left">
                <div class="admin_router">
                    <div class="admin_router-block">
                        <h3>Категория: <a href="{{ url_for('orders')}}">Заказы</a> / id: {{ order.order_id }}</h3>
                    </div>
                </div>
                <div class="order_info">
                    <div class="order-info-left">
                        <div>
                            <label for="Fio">Имя</label>
                            <input type="text" name="Fio" id="fio" value="{{order.username}}">
                        </div>
                        <div>
                            <label for="Phone">Телефон</label>
                            <input type="tel" name="Phone" id="phone" value="{{order.phone}}" pattern="(+7)[0-9]{10}" autocomplete="on" enterkeyhint="next"
                                   maxlength="12" minlength="12">
                        </div>
                        <div>
                            <label for="Email">Email</label>
                            <input type="email" name="Email" id="email" value="{{order.email}}">
                        </div>
                    </div>
                    <div class="order-info-right">
                        <div>
                            <label for="Address">Адрес</label>
                            <input type="text" name="Address" id="address" value="{{order.address}}">
                        </div>
                        <div>
                            <label for="Datetime">Дата доставки</label>
                            <input type="date" name="Datetime" id="datetime" value="{{order.datetime}}">
                        </div>
                    </div>
                </div>
                <div class="formButtons">
                    <input type='button' value="Подтвердить изменения"
                           onclick="submitOrderForm({{order.order_id}})">
                </div>
            </div>
            <div class="right">
                <h3>Позиции</h3>
                <div class="positions">
                    <div class="position">
                        <div class="idColumn">
                            <input type="text" value="ID" readonly>
                        </div>
                        <div class="nameColumn">
                            <input type="text" value="Название продукта" readonly>
                        </div>
                        <div class="priceColumn">
                            <input type="text" value="Цена" readonly>
                        </div>
                        <div class="amountColumn">
                            <input type="text" value="Кол-во в заказе" readonly>
                        </div>
                        <div class="removeColumn">
                            <input type="text" value="кнопки" readonly>
                        </div>
                    </div>
                    {% for position in order.positions %}
                    <div class="position">
                        <div class="idColumn">
                            <input type="text" name="Id" id="{{position.id}}"
                                   value="{{position.id}}" readonly>
                        </div>
                        <div class="nameColumn">
                            <input type="text" name="Name" id="name{{position.id}}"
                                   value="{{position.name}}" readonly>
                        </div>
                        <div class="priceColumn">
                            <input type="number" name="Price" id="price{{position.id}}"
                                   value="{{position.price}}" min="0" readonly>
                        </div>
                        <div class="amountColumn">
                            <input type="number" name="Amount" id="amount{{position.id}}"
                                   value="{{position.amount}}" min="0">
                        </div>
                        <div class="removeColumn">
                            <input type="button" value="Удалить из заказа"
                                   onclick="remove_subItem('order', {{order.order_id}}, {{position.id}})"
                                   style="color: red;">
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <h3>Общая информация</h3>
                <div class="order">
                    <div class="order_sum">
                        <label for="orderSum">Сумма заказа</label>
                        <input type="text" name="orderSum" id="orderSum" value="{{order.sum}} Р." readonly>
                    </div>
                    <div class="order_status">
                        <label for="orderStatus">Статус заказа</label>
                        <select name="orderStatus" id="orderStatus">
                            {% for status in order_statuses %}
                            {% if order.status_id == status.id %}
                            <option selected="selected" value="{{status.id}}">{{status.name}}</option>
                            {% else %}
                            <option value="{{status.id}}">{{status.name}}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </form>
</main>

</body>
<footer style="min-height: 400px;">

</footer>
</html>